#{extends 'main.html' /}
#{set title:'Home' /}

<h4>Persist Key/Value to Redis</h4>

<form action="@{Application.persist()}" method="POST">
  Key: <input type="text" name="key"><br />
  Value: <input type="text" name="value"><br />
  <input type="submit" value="Persist Key/Value">
</form>

<form action="@{Application.clear()}" method="POST">
  <input type="submit" value="Clear Redis">
</form>

<hr />
<table> 
	<thead>
		<tr>
			<th>Key</th>
			<th>Value</th>
		</tr>
	</thead>
	<tbody id="contents"></tbody>
</table>

<script type="text/javascript">
  $(document).ready(function(){
    $.getJSON('/contents', function(json) {
      var contents = $("#contents");
    
      for (key in json) {
        var value = json[key];
        contents.append(['<tr><td>', key, '</td><td>', value, '</td></tr>'].join(''));
      }
    });
  }); 
</script>
